[data-component="list"] {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;

  [data-slot="list-search"] {
    display: flex;
    height: 40px;
    flex-shrink: 0;
    padding: 4px 10px 4px 16px;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    border-radius: var(--radius-md);
    background: var(--surface-base);

    [data-slot="list-search-container"] {
      display: flex;
      align-items: center;
      gap: 16px;
      flex: 1 0 0;

      [data-slot="list-search-input"] {
        width: 100%;
      }
    }
  }

  [data-slot="list-scroll"] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  [data-slot="list-empty-state"] {
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    [data-slot="list-message"] {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      color: var(--text-weak);
      text-align: center;

      /* text-14-regular */
      font-family: var(--font-family-sans);
      font-size: 14px;
      font-style: normal;
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-large); /* 142.857% */
      letter-spacing: var(--letter-spacing-normal);
    }

    [data-slot="list-filter"] {
      color: var(--text-strong);
    }
  }

  [data-slot="list-group"] {
    position: relative;
    display: flex;
    flex-direction: column;

    [data-slot="list-header"] {
      display: flex;
      z-index: 10;
      height: 28px;
      padding: 0 10px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      background: var(--surface-raised-stronger-non-alpha);
      position: sticky;
      top: 0;

      color: var(--text-base);

      /* text-14-medium */
      font-family: var(--font-family-sans);
      font-size: 14px;
      font-style: normal;
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-large); /* 142.857% */
      letter-spacing: var(--letter-spacing-normal);
    }

    [data-slot="list-items"] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      [data-slot="list-item"] {
        display: flex;
        width: 100%;
        height: 28px;
        padding: 4px 10px;
        align-items: center;
        color: var(--text-strong);
        scroll-margin-top: 28px;

        /* text-14-medium */
        font-family: var(--font-family-sans);
        font-size: 14px;
        font-style: normal;
        font-weight: var(--font-weight-medium);
        line-height: var(--line-height-large); /* 142.857% */
        letter-spacing: var(--letter-spacing-normal);

        [data-slot="list-item-selected-icon"] {
          color: var(--icon-strong-base);
        }
        [data-slot="list-item-active-icon"] {
          display: none;
          color: var(--icon-strong-base);
        }

        &[data-active="true"] {
          border-radius: var(--radius-md);
          background: var(--surface-raised-base-hover);
          [data-slot="list-item-active-icon"] {
            display: block;
          }
          [data-slot="list-item-extra-icon"] {
            display: block !important;
            color: var(--icon-strong-base) !important;
          }
        }
        &:active {
          background: var(--surface-raised-base-active);
        }
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}
