[data-component="message-nav"] {
  /* margin-right: 32px; */
  /* margin-top: 12px; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  list-style: none;

  &[data-size="normal"] {
    position: absolute;
    right: 100%;
    width: 240px;
    /* margin-top: 12px; */

    @media (min-width: 80rem) {
      gap: 8px;
      /* margin-top: 4px; */
    }
  }
}

[data-slot="message-nav-item"] {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: flex-end;

  [data-component="message-nav"][data-size="normal"] & {
    justify-content: flex-start;
  }
}

[data-slot="message-nav-tick-button"] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8px;
  width: 32px;
  /* margin-right: -12px; */
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;

  &[data-active] [data-slot="message-nav-tick-line"] {
    background-color: var(--icon-strong-base);
    width: 100%;
  }
}

[data-slot="message-nav-tick-line"] {
  height: 1px;
  width: 20px;
  background-color: var(--icon-base);
  transition:
    width 0.2s,
    background-color 0.2s;
}

[data-slot="message-nav-tick-button"]:hover [data-slot="message-nav-tick-line"] {
  width: 100%;
  background-color: var(--icon-strong-base);
}

[data-slot="message-nav-message-button"] {
  display: flex;
  align-items: center;
  align-self: stretch;
  width: 100%;
  column-gap: 8px;
  cursor: default;
  border: none;
  background: none;
  padding: 0;
}

[data-slot="message-nav-title-preview"] {
  font-size: 14px; /* text-14-regular */
  color: var(--text-weak);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  text-align: left;

  &[data-active] {
    color: var(--text-strong);
  }
}

[data-slot="message-nav-item"]:hover [data-slot="message-nav-title-preview"] {
  color: var(--text-base);
}
