[data-slot="select-dialog-content"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  padding: 0 10px;

  [data-slot="dialog-body"] {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

[data-component="select-dialog-input"] {
  display: flex;
  height: 40px;
  flex-shrink: 0;
  padding: 4px 10px 4px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;

  border-radius: var(--radius-md);
  background: var(--surface-base);

  [data-slot="select-dialog-input-container"] {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;

    /* [data-slot="select-dialog-icon"] {} */

    [data-slot="select-dialog-input"] {
      width: 100%;
    }
  }

  /* [data-slot="select-dialog-clear-button"] {} */
}
