name: snapshot

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - test-bedrock
      - v0
      - otui-diffs
      - snapshot-*

concurrency: ${{ github.workflow }}-${{ github.ref }}
permissions:
  id-token: write

jobs:
  publish:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: git fetch --force --tags

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - uses: ./.github/actions/setup-bun

      - name: Publish
        run: |
          npm install -g npm@latest
          ./script/publish.ts
        env:
          GITHUB_TOKEN: ${{ secrets.SST_GITHUB_TOKEN }}
